
  <h1 class="mt-3">Add Aircraft Sight</h1>
  
<div class="container" > 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">


        <mat-form-field class="form-element">
          <textarea matInput placeholder="Make" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="make"></textarea>
          <mat-error *ngIf="!formGroup.controls['make'].valid && formGroup.controls['make'].touched">
            Required field, maximum 128 characters.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-element">
          <textarea matInput placeholder="Model" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="model"></textarea>
          <mat-error *ngIf="!formGroup.controls['model'].valid && formGroup.controls['model'].touched">
            Required field, maximum 128 characters.
          </mat-error>
        </mat-form-field>
    
        
        <mat-form-field class="form-element">
          <textarea matInput placeholder="Location" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="location"></textarea>
          <mat-error *ngIf="!formGroup.controls['location'].valid && formGroup.controls['location'].touched">
            Required field, maximum 255 characters.
          </mat-error>
        </mat-form-field>
    
        
        <mat-form-field class="form-element">
          <input matInput placeholder="Registeration" formControlName="registeration">
          <mat-hint>Format: 1-5 characters for suffix after a 1-2 character prefix, separated by a hyphen</mat-hint>
          <mat-error *ngIf="!formGroup.controls['registeration'].valid && formGroup.controls['registeration'].touched">
            {{ getErrorRegisteration() }}
          </mat-error>
        </mat-form-field>
    
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
        </div>
    
      </form>
  </div>

