<div class="container">
  <div class="row">
    <img src="/assets/default-user.png">
    <div
      id="g_id_onload"
      data-client_id="31613489588-fmpittm1l4sgam4b7c5md1vf3hb54jhi.apps.googleusercontent.com"
      data-context="use"
      data-ux_mode="popup"
      data-callback="handleCallbackResponse"
      data-auto_select="true"
      data-itp_support="true"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>
  </div>
</div>
